@import "../../../theme/styles.scss";

div._mask {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

div.all {
    background-color: #edf1f7;
    height: 100vh;
    color: #192038;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}

div.all div.container {
    height: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
}

div.all div.container div.container-form {
    height: 100%;
    background-color: map-get($colors, _white_1);
    border: 0 solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    color: #192038;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.all div.container div.container-form h3.title {
    font-size: 2.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 3rem;
    color: #192038;
}

form {
    width: 80%;
}

form label {
    color: #8f9bb3;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
}

form input {
    background-color: map-get($colors, _white_5);
    color: #192038;
    font-family: "Open Sans", sans-serif;
    border-color: map-get($colors, _white_6);
    border-style: solid;
    border-width: 1px;
}

form input::placeholder {
    font-family: "Open Sans", sans-serif;
}

form small {
    color: map-get($colors, _red_3) !important;
}

form div.action {
    padding-top: 1%;
    padding-bottom: 1%;
}

form div.action button {
    background-color: rgba(143, 155, 179, 0.24);
    border-color: transparent;
    color: rgba(143, 155, 179, 0.48);
    width: 100%;
    border-radius: 0.25rem;
    height: 38px;
}

form div.action button.active {
    background-color: map-get($colors, _blue_1);
    border-color: transparent;
    color: map-get($colors, _white_1);
    width: 100%;
    border-radius: 0.25rem;
    height: 38px;
}

div.trademark {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.trademark span {
    color: #8f9bb3;
    font-family: map-get($fonts, _fira_sans);
}

div.trademark span a {
    color: map-get($colors, _blue_5);
    font-family: map-get($fonts, _fira_sans);
    font-weight: 600;
}

div.trademark span a:hover {
    text-decoration: none;
}
